/* -------------------------------------- */
/* --- Buttons & Links --- */
/* -------------------------------------- */

a {
  color: var(--black);
  transition: all 0.2s 50ms;
}

.link--light-grey {
  font-weight: 600;
  color: var(--light-grey);
}

.btn,
[class|="btn"] {
  display: inline-block;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--sand-dark);
  font-size: var(--btn-small);
  &:hover,
  &:focus {
    background-color: var(--brand-almost-ripe);
  }
  &.btn-conversion {
    padding: 0.75em 2em;
    font-size: var(--p-medium);
    line-height: 1.25;
    background-color: var(--brand-almost-ripe);
  }
  &.btn-primary {
    background-color: var(--brand-almost-ripe);
  }
  &.btn-secondary {
    background-color: var(--salmon);
  }
  &.btn-tertiary {
    background-color: var(--black);
    color: var(--white);
  }
  &.btn-quaternary {
    background-color: var(--white);
    &:hover,
    &:focus {
      background-image: linear-gradient(#00000005, #00000005);
    }
  }
}
.btn-conversion,
.btn-primary,
.btn-secondary,
.btn-tertiary {
  &:hover,
  &:focus {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
  }
}

.btn-wrapper {
  --gap: var(--micro);
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  @media (max-width: 40rem) {
    justify-content: center;
  }
  & > * {
    margin: var(--gap) 0 0 var(--gap);
  }
}

/* DEPRECATED */
.btn--brand {
  background: var(--brand-almost-ripe);
  padding: 0.75rem var(--x-small);

  @media (min-width: 1141px) {
    min-width: 10rem;
  }

  @media (max-width: 868px) {
    padding: 0.75rem var(--xx-small);
  }
}
.btn--small {
  font-size: var(--btn-small);
  padding: var(--macro) var(--x-small);
}
.btn--salmon {
  background: var(--salmon);
}
.btn--almost-ripe {
  background: var(--brand-almost-ripe);
}
.btn--dark {
  color: var(--off-white);
  background: var(--black);
}
