/* -------------------------------------- */
/* --- Buttons & Links --- */
/* -------------------------------------- */

a {
  color: var(--black);
  transition: all 0.2s;
}

.link--light-grey {
  font-weight: 600;
  color: var(--light-grey);
}

[class|="btn"],
.btn {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: var(--btn-small);
}

.btn,
.btn-cta {
  background: var(--sand-dark);
  &:hover,
  &:focus {
    background: var(--brand-almost-ripe);
    background-image: none;
  }
}

.btn-conversion {
  padding: 0.75em 2em;
  font-size: var(--p-medium);
  line-height: 1.25;
  background: var(--brand-almost-ripe);
  border-radius: 1rem;

  @media (min-width: 1141px) {
    min-width: 10rem;
  }

  @media (max-width: 868px) {
    padding: 0.75rem var(--xx-small);
  }
}

.btn-primary {
  background: var(--brand-almost-ripe);
  margin-right: var(--micro);
}

.btn-conversion,
.btn-primary {
  &:hover,
  &:focus {
    background: var(--brand-hover);
  }
}

.btn-secondary {
  background: var(--salmon);

  &:hover,
  &:focus {
    background: var(--salmon-hover);
  }
}

.btn-tertiary {
  background: var(--black);
  color: var(--white);

  &:hover,
  &:focus {
    background: var(--black-hover);
  }
}

.btn-quaternary {
  background: var(--white);
}

/* Unique buttons */
.btn-green {
  background: var(--transparent-green);
  color: var(--green);
}
.btn-green:hover,
.btn-green:focus {
  background: var(--green);
  color: var(--off-vhite);
}

.btn-cta {
  font-size: var(--p-medium);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
}

.btn-white {
  display: flex;
  align-items: center;
  padding: var(--macro) 0.75rem;
  justify-content: center;
  background: var(--white);
  border-radius: 0.5em;
  color: var(--black);

  &:hover,
  &:focus {
    background: var(--off-white);
  }
}

.btn-white img {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 0.625rem;
}

.buttons-wrapper {
  --gap: var(--micro);
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));

  & > * {
    margin: var(--gap) 0 0 var(--gap);
  }
}
