/* -------------------------------------- */
/* --- Buttons & Links --- */
/* -------------------------------------- */

a {
  color: var(--black);
  transition: all 0.2s 50ms;
}

.link--light-grey {
  font-weight: 600;
  color: var(--light-grey);
}

[class|="btn"],
.btn {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  line-height: 1.125;
  border-radius: 0.75em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: var(--btn-small);
  &:hover,
  &:focus {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
  }
}

.btn,
.btn-cta {
  background-color: var(--sand-dark);
  &:hover,
  &:focus {
    background-color: var(--brand-almost-ripe);
    background-image: none;
  }
}
.btn-conversion {
  padding: 0.75em 2em;
  font-size: var(--p-medium);
  line-height: 1.25;
  background-color: var(--brand-almost-ripe);
  border-radius: 1rem;
  @media (min-width: 1141px) {
    min-width: 10rem;
  }

  @media (max-width: 868px) {
    padding: 0.75rem var(--xx-small);
  }
}
.btn-primary {
  background-color: var(--brand-almost-ripe);
  margin-right: var(--micro);
}
.btn-secondary {
  background-color: var(--salmon);
}
.btn-tertiary {
  background-color: var(--black);
  color: var(--white);
}
.btn-quaternary {
  background-color: var(--white);
  &:hover,
  &:focus {
    background-image: linear-gradient(#00000005, #00000005);
  }
}

/* Unique buttons */
.btn-green {
  background-color: var(--transparent-green);
  color: var(--green);
}
.btn-green:hover,
.btn-green:focus {
  background-color: var(--green);
  color: var(--off-vhite);
}

.btn-cta {
  font-size: var(--p-medium);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
}

.buttons-wrapper {
  --gap: var(--micro);
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));

  & > * {
    margin: var(--gap) 0 0 var(--gap);
  }
}
