input,
textarea {
  all: unset;
  font: inherit;
  color: var(--dark-grey);
}
[type="radio"],
[type="checkbox"] {
  position: absolute;
}
[type] + label {
  cursor: pointer;
}
label,
legend,
[type="email"],
[type="text"] {
  display: block;
  color: var(--dark-grey);
  margin-bottom: 0.5rem;
}
[type="email"],
[type="text"],
textarea {
  width: 100%;
}
li {
  margin-bottom: 2rem;
}
fieldset,
[type="checkbox"] + label {
  display: flex;
  gap: 1rem;
}
fieldset {
  flex-flow: row wrap;
}
legend {
  flex: 100%;
}
[type="email"],
[type="text"],
[type="radio"] + label,
textarea {
  border: 1px solid var(--divider);
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
}

[type="checkbox"] + label::before {
  content: "";
  border: 1px solid var(--divider);
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 0.5em;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
}
.error,
.error *,
.error :not(:checked) + label::before {
  border-color: var(--error);
  color: var(--error);
}
.error.error [type] + label {
  color: var(--dark-grey);
}
[type="checkbox"]:checked + label::before {
  background-image: var(--brand-gradient);
  color: var(--black);
  content: "✓";
}
[type="radio"]:hover + label,
[type="radio"]:focus + label {
  border-color: currentColor;
}
[type="radio"]:checked + label {
  background-image: var(--brand-gradient);
  font-weight: bold;
  color: var(--black);
}
.btn-conversion:disabled {
  background-color: var(--sand-dark);
  color: var(--dark-gray);
  cursor: default;
}
