/* The below styles override the default Layout of the carousel slider */

.slides {
  margin-bottom: var(--small);
  & > div {
    & > * {
      display: flex;
      justify-content: center;
    }
  }
}

.carousel li {
  background-color: #cecdcd !important;

  &.active {
    background-color: #999 !important;
  }
}
