.modal .jobTitle {
  margin: -1rem 0 2rem -1rem;
}
.modal .jobTitle ~ ul {
  list-style: none;
}
.hilited {
  max-width: 50rem;
  margin: auto;
}
.hilited h2 {
  border-left: 0.25rem solid var(--brand-ripe);
  padding-left: 1.75rem;
}
.perks {
  max-width: 46rem;
  columns: 2 20rem;
  padding-left: 2rem;
  margin-top: 1rem;
  column-gap: 1.5rem;
}
.perks li {
  background-color: var(--off-white);
  border-radius: 0.75rem;
  padding: 10px;
  break-inside: avoid;
  margin: 0 1rem 1rem;
}
.jobs {
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.jobs li {
  margin: 1rem 0;
}
.jobs button {
  background-color: var(--off-white);
  border-radius: 1rem;
  padding: 1.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  color: var(--black);
  font-weight: bold;
}
.jobs button::after {
  content: "";
  float: right;
  height: 0.75rem;
  width: 0.75rem;
  border: 3px solid;
  transform: translatey(0.25rem) rotate(45deg);
  border-color: currentColor currentColor transparent transparent;
}
