/* -------------------------------------- */
/* --- Layout Helpers --- */
/* -------------------------------------- */

main {
  max-width: 90rem;
  width: 98vw;
  margin: auto;
  /* @media (max-width: 73rem) {
    max-width: 98vw;
  } */
}
main > header:first-child,
.header,
.brief {
  text-align: center;
  margin: 3rem auto 5em;
  width: 100%;
}
main > header:first-child {
  max-width: 900px;
}
.brief h2 {
  margin-bottom: 2rem;
}

main > header {
  margin-bottom: 8rem;
}

.row {
  width: 90%;
  margin: 0 auto;
  max-width: 98vw;

  @media (max-width: 1032px) {
    width: 94%;
  }

  @media (min-width: 1141px) {
    width: 92%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 var(--micro);
  }

  @media (max-width: 375px) {
    padding: var(--macro);
  }
}

/* CARDS */
.halfimages {
  /* cards have the margin */
  margin-bottom: 0;
}
.halfimages article,
.cards {
  display: flex;
  grid-gap: 2rem;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: center;
  max-width: 98vw;
}
.cards img {
  margin: 0 auto 1em;
}
@media (min-width: 50rem) {
  .halfimages article:nth-of-type(odd) > :first-of-type {
    order: 2;
  }
  .halfimages img {
    max-width: 100%;
  }
}
.halfimages article > div {
  flex: 0 1 calc(50% - 2rem);
  min-width: 400px;
  align-self: center;
}
.halfimages article p {
  margin-bottom: 2rem;
}
.cards.double > div {
  flex: 0 1 calc(50% - 1rem);
  min-width: 400px;
  align-self: stretch;
}
.cards.triple > div {
  flex: 0 1 calc(33% - 2rem);
  min-width: 300px;
  align-self: stretch;
  text-align: center;
}
.triple .card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 3rem 1fr 1.5rem;
}
