.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .content {
  background-color: var(--off-white);
  border-radius: 1rem;
  width: 71rem;
  max-height: 98vh;
  max-width: 98vw;
  margin: 1vh auto;
  padding: 3rem;
  overflow: scroll;
}
.content button:first-child {
  float: right;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  &:focus,
  &:hover {
    background-color: var(--divider);
  }
}
