.text-blob { // for text heavy content such as TOS
  margin-top: 5rem;
  width: 50rem;
  max-width: 98vw;
  margin: auto;
  --h1: 3.375rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.75rem;
  --h5: 1.25rem;
  line-height: 1.75;
   p, li {
     margin-bottom: 1rem;
   }
   ol.toc > li::marker {
     font-size: var(--h3);
     font-weight: bold;
     color: inherit;
   }
   ol.toc {
     ul, ol {
       margin-left: 2rem;
     }
   }
   [type] ::marker {
    color: var(--brand-ripe);
  }
  ul {
    list-style: '-' outside;
  }
   h2, h3, h4, h5 {
   margin: 1em 0;
   }
   a {
     text-decoration: underline;
     font-weight: bold;
   }
 }