.DS_Store
.netlify
.svelte-kit/
/lambda/
/node_modules/
/src/functions/render
/src/node_modules/@sapper/
build/
cypress/screenshots
cypress/videos
static/global.css
static/styles.css
yarn-error.log
yarn.lock
.idea
.env