.content-docs {
  @mixin h3 {
    font-size: var(--p-large);
    line-height: 2rem;
  }

  // Typography
  h1,
  h2,
  h3 {
    margin-bottom: var(--xx-small);
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: var(--h4);
    line-height: 2.5rem;

    &.h3 {
      @include h3;
    }
  }

  h3 {
    @include h3;
  }

  a {
    font-weight: 700;

    &:hover {
      color: var(--brand-ripe);
    }
  }

  h3 em {
    font-style: normal;
  }

  // Spacing
  * + h2 {
    margin-top: var(--medium);
  }

  * + h3,
  * + .h3 {
    margin-top: var(--large);
  }

  h4 {
    margin-bottom: var(--macro);
  }

  p + h4,
  h4 ~ h4 {
    margin-top: var(--xx-small);
  }

  p + p,
  p + ul,
  ul + p {
    margin-top: var(--micro);
  }

  p > iframe {
    margin-top: var(--medium);
  }

  ol,
  ul {
    margin: var(--micro) 0;
  }

  li + li {
    margin-top: var(--macro);
  }

  // Code blocks
  code {
    min-height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.75rem;
    background: var(--brand-light);

    &:not([class]) {
      display: inline-flex;
      align-items: center;
    }

    &[class*="language"] {
      overflow: auto;
      display: block;
      padding: 1.25rem 1.5rem;
      background: var(--sand-dark);
    }

    &.language-Dockerfile {
      background: var(--off-white);
    }
  }

  pre {
    margin: var(--micro) 0;
  }

  blockquote {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background: var(--brand-light);

    code {
      background: var(--brand-almost-ripe);
    }
  }

  table {
    width: 100%;
    margin: var(--micro) 0;
    overflow: hidden;
    border-radius: 1rem;
    font-size: var(--p-small);
  }

  thead {
    background: var(--sand-dark);
  }

  tbody {
    background: var(--off-white);
  }

  th,
  td {
    @apply py-5 px-10;
    @apply text-left;
  }

  td {
    @apply py-6;
  }

  th {
    @apply font-normal;
  }

  td:first-child {
    @apply font-bold;
    @apply align-top;
  }

  th + th,
  td + td {
    @apply border-l border-solid border-gray-400;
  }

  tr + tr {
    @apply border-t border-solid border-gray-400;
  }

  iframe {
    width: 100%;
  }
}
