.content-docs {
  h1 {
    color: red;
  }
  @mixin h3 {
    font-size: var(--p-large);
    line-height: 3.2rem;
  }

  // Typography
  h1,
  h2,
  h3 {
    margin-bottom: var(--xx-small);
    font-weight: 700;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  h2 {
    font-size: var(--h4);
    line-height: 4rem;

    .h3 {
      @include h3;
    }
  }

  h3 {
    @include h3;
  }

  a {
    font-weight: 700;

    &:hover {
      color: var(--brand-ripe);
    }
  }

  h3 em {
    font-style: normal;
  }

  // Spacing
  p + h2,
  h2 ~ h2 {
    margin-top: var(--medium);
  }

  p + h3,
  p + .h3,
  h3 ~ h3,
  h3 ~ .h3 {
    margin-top: 8.8rem;
  }

  p + p {
    margin-top: var(--micro);
  }

  p > iframe {
    margin-top: var(--medium);
  }

  li + li {
    margin-top: var(--macro);
  }

  // Code blocks
  code {
    min-height: 3.2rem;
    padding: 0 0.8rem;
    border-radius: 1.2rem;
    background: var(--brand-light);

    &:not([class]) {
      display: inline-flex;
      align-items: center;
    }

    &[class*="language"] {
      overflow: auto;
      display: block;
      padding: 2rem 2.4rem;
      background: var(--sand-dark);
    }
  }

  pre {
    margin: var(--micro) 0;
  }

  blockquote {
    margin: 3.2rem 0;
    padding: 2.4rem;
    border-radius: 1.2rem;
    background: var(--brand-light);

    code {
      background: var(--brand-almost-ripe);
    }
  }

  table {
    border-radius: 1.6rem;
    overflow: hidden;
  }

  thead {
    background: var(--sand-dark);
  }

  tbody {
    background: var(--offwhite);
  }
}
